@media screen and (max-width:700px) {
    body{
        /* background-color: rebeccapurple; */
    }
    .list{
        display: none;
    }
    .open{
        display: block !important;
        font-size: 30px;
        position: absolute;
        right: 200px;
    }
    .screen{
        display: block !important;
    }
}